* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;--color: 44, 62, 80;--primary: 237, 73, 86;
    --color1: 220, 40, 60;}

/* Style the tab */
.nav {
  overflow: hidden;
  border: transparent;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.nav button {
  background-color: #555;
  float: left;
  border: transparent;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
  border-left:1px solid;
  color: white;
  text-decoration:none;
  width: 16.3%;
}

/* Change background color of buttons on hover */
.nav button:hover {
  background-color: #86998b;
}

/* Create an active/current tablink class */
.nav button.active {
  background-color: #4CAF50;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
}
.tabcontent{
    align-items: center;
}
.tabcontent h3{
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;
}
.form{
    max-width: 500px;
    margin: auto;
    
}
.form  input{
    margin-bottom: 10px;
    width: 50%;
    padding: 14px 20px;
    border: 6px;
    background: #F1F3F6;
    border-radius: 18px;
    border:2px solid rgb(var(--color));
} 
 label {
  display: inline-block;
  width: 140px;
  
}​
div.btn_sumbit  {
   text-align: center;   
   
  
}  
.form input[type='submit']  {
    margin-top: 25px;
    margin-left: 150px;
    border-color:transparent;
    background-color: #4CAF50;
    color: #F1F3F6;
    display: inline-block;
    width: 25%;
}
.table-wrapper {
  width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;	
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    
table.table td a.add {
  color: #27C46B;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

#printclass{
  padding: 15px 32px;
  font-size: 18px;
}
#print{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
#test{
  text-align: center;
  padding: 25px;
}
#patientid{
  padding: 15px 32px;
  text-align: center;
}
#pid{
  text-align: center;
  padding-bottom: 15px; 
  padding-right: 15px;
  font-size: 18px;
  margin-bottom: 70px;
}
#sub{
  padding-left: 75px;
  text-align: left;
}