<!DOCTYPE HTML>
<html>

<head>
    <title>PATIENT LOGIN PAGE</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="login">
        <form class="form"  method="POST">
            <h1><strong>Log In</strong></h1>
            <div class="input">
                <div class="input">
                    <label for="patient_id">Patient ID</label>
                    <input type="text" id="email_id" name="patient_id" required>
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="forgot">
                    <a href="">
                        <u>Forgot Password</u>
                    </a>
                </div>
                <p>Don't have an account?<a href="/register"><strong>Sign Up</strong></a></p>
            
            </div>

            <footer>
                <input type="submit" name="submit" value="Log In" class="btn-Login">
            </footer>
        </form>
    </div>

</body>

</html>