<!DOCTYPE html>
<html>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Welcome</h1>
</header>

<img src="admin_pages/images/home-images.jpeg" alt="home image" style="height:300px; width: 100%;">

<div class="container" style="padding-top: 5px;">
  <div class="col" style="float: left;width: 50%;padding: 5px;">
    <a href = "/admin">
      <figure style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
        <img src="admin_pages/images/admin1.png" id="admin" name="submit" style="height:13" alt="admin"/>   
        <figcaption style="padding-left: 100px;">Admin</figcaption> 
    </figure>
    </a>
  </div>
  <div class="col" style="float: left;width: 50%;padding: 5px;">
    <a href = "/patient">
      <figure style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
        <img src="admin_pages/images/patient.png" id="admin" name="submit" style="padding-top: 25px;width: 40%; height:13" alt="admin"/>   
        <figcaption style="padding-top: 15px;padding-left: 30px;">Patient</figcaption> 
    </figure>
    </a>
  </div>
</div>




</body>
</html>
